.title {
    color: white;
    font-size: 250%;
    text-align: center;
    font-weight: bold;
}

.text {
    color: white;
    font-size: 150%;
    text-align: center;

}

.body {
    min-height: 100vh;
}

.main-content {
    min-height: 100vh;
}

.amplify-button--fullwidth{
    font-size: 2rem;
    padding: 1rem 2rem;
    background: none;
    border: 2px solid black;
    background-color: brown !important;
}
