.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* This ensures items are spaced between left and right */
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #ecf0f1;
    background-color: #2c3e50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* Removed 6:16 PM 3/18/2024 - calove */
    /* background-color: dimgray;
    padding: 8px 56px;
    display: flex;
    width: 100%;
    height: 56px;
    justify-content: space-between;

    
    color: whitesmoke;
    font-size: 150%;
    font-family: 'Georgia', 'serif';
    text-decoration: underline whitesmoke; */
}

.settings-menu-button {
    margin-left: auto;
    /* This will push the settings button to the far right */
}

/* Navbar Items */
.navbar a,
.navbar button {
    color: inherit;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    transition: background-color 0.3s ease;
}

/* Hover effect for navigation links */
.navbar a:hover,
.navbar button:hover {
    background-color: #34495e;
}

.right-content {
    position: relative;
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Vertically center the content */
    width: auto; /* Or set a specific width if needed */
    justify-content: flex-end; /* Push content to the end (right side) */
}

.username-dropdown {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    /* Match your design */
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}



.dropdown-menu {
    display: none; /* Hide dropdown initially */
    position: absolute;
    top: 100%; /* Position the dropdown directly below the navbar */
    right: 0; /* Align the dropdown to the right of the navbar */
    background-color: white; /* Set a background color */
    border: 1px solid #ccc; /* Optional: Add a border */
    min-width: 160px; /* Minimum width of the dropdown */
    z-index: 100;
    /* Ensure it overlays other content */ 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.show-dropdown {
    display: block; /* Show the dropdown */
  }

/* Add :not(.show-dropdown) to hide the dropdown when it's not supposed to show */
.navbar .right-content .dropdown-menu:not(.show-dropdown) {
    display: none;
  }

/* When dropdown is supposed to show, display it */
.navbar .right-content .dropdown-menu.show-dropdown {
    display: block;
}


.dropdown-menu a,
.dropdown-menu button {
    display: block;
    padding: 10px;
    text-align: left;
    /* Align text to the left */
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    /* Text color */
    cursor: pointer;
}

.dropdown-menu button:hover,
.dropdown-menu a:hover {
    background-color: #f5f5f5;
    /* Slight highlight on hover */
}

.settings-menu-button {
    cursor: pointer;
}