.dropdown{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    width: 400%;
    min-height: 400px;
}

.dropButton{
    margin-right: 6.5rem;
    position: relative;
    min-width: 2.5rem;
}

.container {
    overflow-y:scroll;
    position: relative;
    background-color: gray;
    min-width: 2.5rem;
    width: 400%; /* Adjust this as needed */
    max-height:400px;
}

.purchaseInfo {
    position: relative;
    background-color: gray;
    min-width: 2.5rem;
    width: 200%; /* Adjust this as needed */
    max-height:400px;
}
  
  .albumCover {
    /* width: 40%; */
    /* height: 50%; */
    object-fit: cover;
    align-self: center;
    display: flex;
    padding:10px;
    
  }
  
  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 60%;
    width: 100%;
  }
  
  .songTitle {
    font-size: 14px;
    font-weight: bold;
    color: black;
  }
  
  .albumTitle {
    flex-direction: column;
    display: flex;
    font-size: 14px;
    color: black;
  }
  
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  
  .price {
    font-size: 14px;
    color: #333;
  }
  
  .button {
    padding: 5px 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .purchaseButton{
    padding: 5px 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    bottom:0;
    right:0;
    margin:.5rem;
  }