.footer {
    background-color: #2c3e50;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
    z-index: 99999;
}

.phantom {
    display: block;
    padding-top: 150px;
    height: 60px;
    width: 100%;
}

.links {
    display: flex;
    padding: 8px 56px;
    justify-content: space-between;

    color: whitesmoke;
    font-size: 150%;
    font-family: 'Georgia', 'serif';
    text-decoration: underline whitesmoke;
}

.title {
    display: flex;
    padding: 8px 56px;
    justify-content: space-between;

    color: whitesmoke;
    font-size: 200%;
    font-family: monospace;
}

.bottom {
    display: flex;
    text-wrap: nowrap;
    color: white;
    justify-content: space-between;
    background-color:rgb(34, 56, 56);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #243241;
    font-size: 75%;
    font-family: 'Georgia', 'serif';
    text-decoration: underline darkslategray;
}