.footer {
    background-color: darkslategray;
    color: whitesmoke;
    width: 100%;
    padding: 20px 0; /* Adjust padding to suit your design */
    text-align: center; /* Centers the footer content */
    font-family: 'Roboto', sans-serif; /* Consistency in font usage */
}

.links, .title {
    display: flex;
    justify-content: space-between;
    padding: 8px 5vw; /* Use viewport width for responsive padding */
    font-size: 1rem; /* Start with a base size for links */
}

.title {
    font-size: 1.5rem; /* Larger size for the title */
    font-family: 'Roboto', sans-serif; /* Consistency in font usage */
    text-decoration: none; /* Professional designs often avoid underline */
}

.links {
    flex-wrap: wrap;
    text-decoration: none; /* Avoid underline for a cleaner look */
}

.links a {
    color: whitesmoke;
    text-decoration: none; /* Avoid underline for a cleaner look */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.links a:hover {
    color: #a8dadc; /* Lighter shade for hover effect */
}

.bottom {
    background-color: rgb(34, 56, 56);
    color: rgb(89, 122, 122);
    padding: 16px 5vw; /* Responsive padding */
    font-size: 0.75rem; /* Smaller text for the bottom section */
    text-align: center; /* Center-align the text for consistency */
    font-family: 'Roboto', sans-serif; /* Maintain font consistency */
    text-decoration: none; /* Typically, underlines are removed for a cleaner look */
}