.title {
    color: white;
    font-size: 250%;
    text-align: center;
    font-weight: bold;
}

.text {
    color: white;
    font-size: 150%;
    text-align: center;

}

.image {
    height: 775px;
    width: 1903px;;
}


/*
Photo by 500photos.com: 
https://www.pexels.com/photo/white-dump-truck-near-pine-tress-during-daytime-93398/
*/