.container{
    min-height: 100vh;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

.application{
    display: flex;
    border-width: 1px;
    margin: 10px;
}

.details{
    border-width: 1px;
    margin: .5rem;
    border-color: white;
}

.inputDetails{
    border-width: 1px;
    margin: .5rem;
    border-color: white;
    color: black;
}