.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
  /* High z-index to overlay on top of other content */
}

.popup {
  width: 600px; /* Slightly wider for better layout */
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1001;
}

.popupButtons {
text-align: center;
width: auto;
}

.popupExitButton {
/* .popup-submit-button { */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px; /* Added space from the content above */
  background-color: #2c3e50; /* A red color for exit could be intuitive */
  color: #2c3e50;
}

.popup-submit-button {
  background-color: #2ecc71; /* A green color for submit could be intuitive */
  color: white;
  float: right; /* Float the button to the right */
}

.popupExitButton:hover,
.popup-submit-button:hover {
  opacity: 0.9; /* Slight opacity change on hover */
  transform: scale(1.05); /* Subtle grow effect */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.popupTitle {
  width: 100%;
  margin-bottom: 20px;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 24px; /* Larger font for the title */
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #2c3e50;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.popup p {
  color: #34495e; /* Dark grey for readability */
  line-height: 1.6; /* Increased line height for better readability */
  margin-bottom: 10px; /* Space out paragraphs */
}

.popup H3 {
  color: white;
  font-weight: bold;
  background-color: #2c3e50;
  border-radius: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* If you have list items, style them as well */
.popup-list-item {
  background-color: #ecf0f1;
  /*Lightgreybackgroundforeachitem*/padding: 10px;
  margin-bottom: 10px;
  /*Spacebetweenitems*/border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Additional styles for specific content */
.popup-details {
  font-size: 16px;
}

/* Styles for the list container if needed */
.popupItemList {
  border-top: 2px solid #ecf0f1; /* A top border to separate from the title */
  padding-top: 20px; /* Space from the top border */
}

.userSponsorItem, .sponsorApplicationItem {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Adjusting the height and width for mobile responsiveness */
@media screen and (max-width: 768px) {
  .popup {
    width: 90%; /* Take up almost full width on smaller screens */
    height: auto; /* Let the height grow as needed */
    padding: 20px; /* Less padding on smaller screens */
  }
}
