.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* High z-index to overlay on top of other content */
  }
  
  .popup {
    height: 500px;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1001;
    position: relative;
}

.popup-exit-button, .popup-submit-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.popup-submit-button {
    right: 20px; /* Adjust as necessary, this positions the submit button on the right */
    left: auto; /* Override the left property for the submit button */
  }

.popupTitle{
    width: 100%;
    margin-bottom: 10px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    border-radius: 10px;
}