.title {
    padding-top: 10px;
    padding-left: 160px;
    color: white;
    font-size: 250%;
    text-align: left;
    font-weight: bold;
}

.text {
    padding-left: 160px;
    color: white;
    font-size: 150%;
    text-align: left;
}

.blocktext {
    color: white;
    font-size: 150%;
    text-align: left;
    font-weight: bold;
}

.subtext {
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    font-size: 120%;
    text-align: left;

}

.example {
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
    font-size: 100%;
    text-align: left;

}

.input {
    padding-left: 10px;
    background-color: white;
    color: black;
    font-size: 150%;
    text-align: left;
    border: none;
    border-radius: 5px;
}

.button {
    margin-top: 20px;
    color: white;
    font-size: 125%;
    text-align: left;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.block{
    color: white;
    padding-top: 8px;
    padding-left: 25px;
    padding-bottom: 15px;
    margin-left: 150px;
    width: 50vw;;
    background-color: rgb(52, 52, 52);
    border: none;
    border-radius: 8px;
}

.inline{
    padding-left: 4px;
    padding-right: 30px;
    color: black;
    font-size: 100%;
    text-align: left;
}

.button{
    display: inline-block;
    display: 'inline-block';
    padding: '10px 20px';
    color: '#fff';
    background-color: '#0070f3';
    border-radius: '5px';
    transition: 'background-color 0.2s';
    
}

.button:hover{
   background-color: '#0056b3';
 
}