.title {
    padding-top: 10px;
    padding-left: 160px;
    color: white;
    font-size: 250%;
    text-align: left;
    font-weight: bold;
}

.text {
    padding-left: 160px;
    color: white;
    font-size: 150%;
    text-align: left;
}

.blocktext {
    color: white;
    font-size: 150%;
    text-align: left;
    font-weight: bold;
}

.subtext {
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    font-size: 120%;
    text-align: left;

}

.input {
    padding-left: 10px;
    background-color: white;
    color: black;
    font-size: 150%;
    text-align: left;
    border: none;
    border-radius: 5px;
}

.button {
    margin-top: 20px;
    color: white;
    font-size: 125%;
    text-align: left;
    background-color: gray;
    border: none;
    border-radius: 5px;
}

.block{
    padding-top: 8px;
    padding-left: 25px;
    padding-bottom: 15px;
    margin-left: 150px;
    width: 50vw;;
    background-color: rgb(52, 52, 52);
    border: none;
    border-radius: 8px;
}

.inline{
    padding-left: 4px;
    padding-right: 30px;
    color: black;
    font-size: 100%;
    text-align: left;
}